<section class="content">

    <h1>Am I gamer?</h1> <br>

    <img class="foto" src="assets\videojuegosFondo.jpg" alt="Foto_titulo"> <br>

    <div class="contenedor">

        <p>
            Bienvenido a Am I gamer? ! Donde podrás demostrar que tanto conoces el mundo de los videojuegos! <br>
            ¿Podrás adivinar el videojuego con solo un fragmento de imagen? <br>
            ¡Averiguemoslo!
        </p>
    
    </div>

    <a class="buttons" href="http://localhost:4200/login">INGRESAR</a>

</section>

<!-- <app-footer></app-footer> -->