*
{
    margin: 0;
    padding: 0;
}

.content
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    place-items: center;
}

.content h1
{
    font-family: 'Century Gothic', sans-serif;
    font-size: 500%;
    color: rgb(51, 0, 255);
    text-shadow: 0 0 300px black;
    -webkit-text-stroke: 0.7px white;
}

.content p
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    color: white;
    text-align: center;
}

.contenedor
{
    background-color: rgb(32, 32, 32);

    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(51, 0, 255);

    padding: 15px 35px;
    box-shadow: 10px 10px 5px black;
    margin: auto;
}

.buttons 
{
    width: 100px;
    height: 20px;

    margin: 15px;
    padding: 5px 10px;

    border: 3px solid;
    border-radius: 9px;

    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    text-decoration: none;

    background-color: rgb(51, 0, 255);
   
    border-color: white;
    box-shadow: 10px 10px 5px black;
}

.buttons:hover
{
    color: #ffffff;
    background-color: rgba(168, 4, 227, 0.784);
    border-color: #ffffff;
}

.foto
{
    width: 600px;
    height: 450px;
}