<br><br><br><br>

<div class="box">

    <footer class="boton" id="botonApi">
        <a class="box" target="_blank" href="https://api.rawg.io/docs/">

            <div id="logoRawg">
                <img src="https://rawg.io/assets/en/share-vk.png?v=4" alt="rawg_logo" width="45" height="45">
            </div>
            <p id="textoFooter"> {{anioActual}} © RAWG, Behind The Games API </p>

        </a>
    </footer>

    <footer class="boton" id="botonLinkedIn">
        <a class="box" target="_blank" href="https://www.linkedin.com/in/joaqu%C3%ADn-marcelo-albarrac%C3%ADn-24a779231/">

            <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/2048px-LinkedIn_icon.svg.png" alt="linkedIn_Logo" width="45" height="45">
            </div>
            <p id="textoFooter"> Joaquin Marcelo Albarracin </p>

        </a>
    </footer>

</div>