
<section class="botonVolverYcontador"> 

    <button class="botonVolverContenido" (click)="cartelAdvertenciaNuevito = true; pausaTemporizadorAux()">
        Abandonar Partida
    </button>

    <button class="botonContadorFotos">
        Fotos
        {{contBloqueoPistaSaltar}}/{{topeFotos}}
    </button> 

</section>   

<div *ngIf="cartelAdvertenciaNuevito" class="cartelContenedorNuevito">
    <div class="cartelNuevito">
        <h2>Estas seguro de que quieres abandonar la partida?</h2>
        <h2>Perderas todos los puntos que hayas usado</h2>
        <button class="botonNuevo" id="botonIzq" (click)="abandonarPartida()">Abandonar</button>
        <button class="botonNuevo" id="botonDer" (click)="cartelAdvertenciaNuevito = false; playTemporizadorAux()">Cancelar</button>
    </div>
</div>

<div *ngIf="cartelInicio" class="cartelContenedor">
    <div class="cartel">
        <h2>Bienvenido</h2>
        <p>Presiona "Empezar" para iniciar la partida</p>
        <button class="botonEmpezar" (click)="iniciarPartida()">Empezar</button>
    </div>
</div>

<section id="cuerpoEntero"> 

    <div class="centrarImagen">

        <div class="imagen">
            <img id="fotoA"  src="{{src}}" alt="Foto Juego" style="visibility: hidden;"> 
        </div>

    </div>

    <div id="tablero" class="contenedor">

        <div class="viewPista">

            <div id="blockPuntaje">
                <p class="texto">Puntos</p>
                <span class = "puntajeNuevo">{{puntaje}}</span> <br>
            </div>
            
            <div id="VP1" class="VP" style="visibility: hidden;">
                {{juegos[contJuego].plataformas}}
            </div>

            <div id="VP3" class="VP" style="visibility: hidden;">
                {{juegos[contJuego].fecha}}
            </div>

            <div id="VP4" class="VP" style="visibility: hidden;">
                {{juegos[contJuego].generos}}
            </div>

            <div id="blockTempo">
                <p class="texto">Tiempo</p>
                <app-temporizador *ngIf="empezar" [terminar]="terminar" (mensajeEnviado)="recibindoDatosDesdeTemporizador($event)" class="tempo"></app-temporizador>
                <br>
            </div>

        </div>

        <div id="left" class="pistas">

            <p class="parrafito">
                50% =>
            </p>
            <button id="eliminaOp" class="pista bloquear" (click)="pistaEliminaOp(); usoPista()">
                50 Puntos 
            </button>

            <p class="parrafito">
                Agrandar Imagen =>
            </p>
            <button id="imgP" class="pista bloquear" (click)="fotoCompleta(); usoPista()">
                25 Puntos
            </button>

            <p class="parrafito">
                Saltear imagen =>
            </p> 
            <button id="jump" class="pista bloquear" (click)="saltarFoto(); usoPista()">
                25 Puntos
            </button>
        
        </div>

        <div class="options">

            <div class="contenedorOpciones">
                <button id="opcion0" class="botonOpcion" (click)="handleOptionButtonClick(juegos[contJuego].nombresOpciones[0])">
                    {{juegos[contJuego].nombresOpciones[0]}}
                </button>
            </div>

            <div class="contenedorOpciones">
                <button id="opcion0" class="botonOpcion" (click)="handleOptionButtonClick(juegos[contJuego].nombresOpciones[1])">
                    {{juegos[contJuego].nombresOpciones[1]}}
                </button>
            </div>

            <div class="contenedorOpciones">
                <button id="opcion0" class="botonOpcion" (click)="handleOptionButtonClick(juegos[contJuego].nombresOpciones[2])">
                    {{juegos[contJuego].nombresOpciones[2]}}
                </button>
            </div>

            <div class="contenedorOpciones">
                <button id="opcion0" class="botonOpcion" (click)="handleOptionButtonClick(juegos[contJuego].nombresOpciones[3])">
                    {{juegos[contJuego].nombresOpciones[3]}}
                </button>
            </div>
        
        </div>

        <div id="rigth" class="pistas">

            <p class="parrafito">
                Mostrar consola =>
            </p>
            <button id="consola" class="pista bloquear" (click)="handlePistaButtonClick('consola'); usoPista()">
                10 Puntos
            </button>

            <p class="parrafito">
                Mostrar fecha =>
            </p>
            <button id="fecha" class="pista bloquear" (click)="handlePistaButtonClick('fecha'); usoPista()">
                5 Puntos
            </button>

            <p class="parrafito">
                Mostrar genero =>
            </p>
            <button id="genero" class="pista bloquear" (click)="handlePistaButtonClick('genero'); usoPista()">
                15 Puntos
            </button>
        
        </div>
         
    </div>



    <div *ngIf="cartelFinal" class="cartelContenedor">

        <div class="cartel">

            <h2>Felicidades tus puntos son: {{puntaje}}</h2>
            <p>Puntos extra por tiempo: +{{puntosExtra}}</p>
            <p>Presiona "Volver" para volver al menu principal</p>
            <p>Presiona "Jugar otra" para empezar otra partida</p>

            <button id="volverInicio" class="botonEmpezar" (click)="finalizarPartida()">
                Volver
            </button>
            <button id="jugarOtra" class="botonEmpezar" (click)="empezarOtra()">
                Jugar otra
            </button>

        </div>

    </div>

    <div *ngIf="cartelAdvertencia" class="cartelContenedor">

        <div class="cartel">

            <h2>Si saltas pierdes tus pistas</h2>

            <button class="botonEmpezar" (click)="playTemporizadorAux(); saltarFotoPerdiendoPuntos()">
                Aceptar
            </button>

            <button class="botonEmpezar" (click)="cartelAdvertencia=false; playTemporizadorAux()">
                Cancelar
            </button>

        </div>

    </div>

</section>








 