
<section *ngIf="titulo">
    <h1 class="page_title"> BIENVENIDO A <br> Am I gamer?</h1>
</section>

<section *ngIf="menu" class="menu">
 
    <button class="botonNuevo" (click)="desabilitarTodosLosComponentes();menu=false;crearPartida=true;titulo=false">Jugar Partida</button>
    <button class="botonNuevo" (click)="desabilitarTodosLosComponentes();ranking=true">Ranking</button>
    <button class="botonNuevo" (click)="desabilitarTodosLosComponentes();perfil=true">Ver Perfil</button>
    <button class="botonNuevo" (click)="desabilitarTodosLosComponentes();historial=true">Historial</button>
    <button class="botonNuevo" (click)="cartelAdvertencia = true">Cerrar Sesion</button>

</section>

<div *ngIf="crearPartida">
    <!-- <app-mostrar-foto (mensajeEnviado)="recibiendoDatosDesdeCreadorPartida($event)"></app-mostrar-foto> -->
</div>

<div *ngIf="ranking">
    <app-ranking></app-ranking>
</div>

<div *ngIf="perfil">
    <!-- <app-perfil-usuario></app-perfil-usuario> -->
</div>

<div *ngIf="historial">
    <app-historial></app-historial>
</div>

<div *ngIf="cartelAdvertencia" class="cartelContenedor">
    <div class="cartel">
      <h2>Estas seguro de que quieres cerrar sesión?</h2>
      <button class="boton" id="botonIzq" (click)="cerrarSesion()">Cerrar Sesión</button>
      <button class="boton" id="botonDer" (click)="cartelAdvertencia = false">Cancelar</button>
    </div>
</div>

